/* 
This file handles everything for the navigation bar 
*/

header {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding: 8px 10%;
  background-color: black;
  background: black;
  min-width: 850px;
  /*
  background-image: -webkit-gradient(linear, left top, left bottom, from(#777), to(#555));
  background-image: -webkit-linear-gradient(top, #777, #555);
  background-image: -moz-linear-gradient(top, #777, #555);
  background-image: -ms-linear-gradient(top, #777, #555);
  background-image: -o-linear-gradient(top, #777, #555);
  background-image: linear-gradient(top, #777, #555);
 */
  -moz-box-shadow: 0 -2px 2px rgba(0,0,0,.5) inset;
  -webkit-box-shadow: 0 -2px 2px rgba(0,0,0,.5) inset;
  box-shadow: 0 -2px 2px rgba(0,0,0,.5) inset;
}
/*----------------------*/
apps ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  white-space:nowrap;
  
}

apps li{
	white-space:nowrap;
	 float: left;  
}

apps #nav-link {
  
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 28px;
  line-height: 25px;
  font-weight: bold;
  padding: 0 8px;
  text-decoration: none;
  color: #B8B8B8;
 /* text-shadow: 0 1px 0 black; */
}

apps #nav-link:hover, apps #nav-link .active {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 28px;
  line-height: 25px;
  font-weight: bold;
  padding: 0 8px;
  text-decoration: none;
  color: #ffffff;
 /* text-shadow: 0 1px 0 black; */
}



/*----------------------*/

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: right;
  background: #eee;
  border-bottom: 1px solid black;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;    
}

nav li {
  float: left;          
}



nav #login, nav #logout {
  border-right: 1px solid #ddd;
  -moz-box-shadow: 1px 0 0 #fff;
  -webkit-box-shadow: 1px 0 0 #fff;
  box-shadow: 1px 0 0 #fff; /* 1px 0 0 #fff */
}

nav #login-trigger, nav #logout-trigger, 
nav #signup a, nav #settings a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  padding: 0 8px;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 #fff; 
}

nav #signup a, nav #settings a {
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}


nav #login-trigger, nav #logout-trigger {
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px; /* border radius of button: default 3px 0 0 3px;*/
}

nav #login-trigger:hover, nav #logout-trigger:hover,
nav #login .active,
nav #signup a:hover, nav #settings a:hover {
  background: #fff;
}

a, img {
    border:none;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

fieldset
{
  margin: 0;
  padding: 0;
  border: 0;
}

input:focus,textarea:focus {
  outline: none;
}

/*----------------------*/

.cf:before,
.cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
   -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.social_icons{
	text-align: center;
	min-width: 500px;
}

a {
  color: #0088cc;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}
